$sizes:(
    zero: 0px,
    s: 8px,
    m: 16px,
    l: 24px,
    xl: 32px,
    xxl: 48px,
    ultra: 64px
);

$colors:(
    intro-bg: #303131,
    intro-btn: #f0ea6e,
    status-set: #F6F6F6,
    btn-disabled: #d9d9d9
);

$degrees:(
    zero: 0deg,
    eighth: -45deg,
    quarter: -90deg,
    half: -180deg
);

$normSizes:(
    s: 10px,
    m: 15px,
    l: 20px,
    xl : 30px,
    xxl: 40px
);
