@use '../abstract/mixin' as mx;
@use '../abstract/variables' as var;
@use 'sass:map';

.gameHeader{
    max-width: 1440px;
    margin: 0 auto;

    &__container-code_vibes{
        display: flex;
        justify-content: space-between;
    }

    &__container-food_theme{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        background-color: map.get(var.$colors, bg-header-food);
        border-radius: 10px;
    }
}

.exitFrame{
    width: 185px;
    @include mx.flex-end(row);
}

