@use '../abstract/mixin' as mx;
@use '../abstract/variables' as var;
@use 'sass:map';

.settingsFrame{
    @include mx.flex-start();
    gap: 50px;
    padding: 100px;
    color: map.get(var.$colors, intro-bg);
}


.captionContainer{
   @include mx.flex-center();

    &__text{
        font-family: 'MyRose';
        font-size: 54px;
        font-weight: 700;
        padding-left: 20px;
    }
}

.distance{
    transform: translateY(10px);
}

.settingsContent{
    display: flex;
    width: 100%;

    &__left{
        width: 400px;
        @include mx.flex-start();
        gap: map.get(var.$sizes, xxl);
    }
}