@use './SCSS/pages/start-screen';
@use './SCSS/pages/settings-screen';
@use './SCSS/pages/game-screen';
@use './SCSS/base/spacing';
@use './SCSS/base/fonts';
@use './SCSS/base/typography';
@use './SCSS/components/buttons';
@use './SCSS/components/dividers';
@use './SCSS/components/radio-group';
@use './SCSS/abstract/themes';

body{
    box-sizing: border-box;
    margin: 0;
}

.width{
    width: 50px;
}

.invisible{
    display: none;
}

