@use '../abstract/variables' as var;
@use '../abstract/mixin' as mx;
@use 'sass:map';

.yellowBtn{
    @include mx.flex-center(row);
    gap: map.get(var.$sizes, m);
    padding: 12px;
    border: none;
    cursor: pointer;
    transition: transform 200ms ease, box-shadow 200ms ease;
    
    &__enabled{
        background-color: map.get(var.$colors, intro-btn);
    }

    &__disabled{
        background-color: map.get(var.$colors, btn-disabled);
    }

    &__img1{
        width: 44px;
        height: 32px;
        transition: transform 200ms ease;
    }

    &__img2{
        width: 35px;
        height: 15px;
        transition: transform 200ms ease;
    }
    
    &__text{
        font-family: 'MyRose';
        color: map.get(var.$colors, intro-bg);
        font-weight: 700;
        transition: transform 200ms ease;
    }

    &--highlight{
        box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.2),   // weicher Schatten
        0 1px 0 rgba(255, 255, 255, 0.1) inset; // leichtes Highlight

        &:hover{
            transform: scale(1.05); // kommt nach vorne
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

            .yellowBtn__img1{
                transform: scale(1.1) rotate(-15deg);
            }

            .yellowBtn__img2{
                transform: scale(1.2);
            }

            .yellowBtn__text{
                transform: translateY(-1px);
            }
        }
    }
}

.closeDialogBtn-code_vibes{
    background-color: map.get(var.$colors, back-cv);
    padding: map.get(var.$sizes, m) map.get(var.$sizes, l);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 3px solid  map.get(var.$colors, back-cv);

    &__text{
        font-family: 'MyRose';
        font-weight: 700;
        font-size: map.get(var.$normSizes, l);
        color: white;
    }

    &:hover{
        cursor: pointer;
        background-color: rgba(102, 207, 188, 0.7);
    }
}

.exitGameBtnFrame-code_vibes{
    width: 155px;
}

.exitGameBtn-code_vibes{
    background-color: rgba(102, 207, 188, 0.2);
    padding: map.get(var.$sizes, m) map.get(var.$sizes, l);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid  map.get(var.$colors, back-cv);
    width: 152px;
    display: flex;
    justify-content: end;

    &__text{
        font-family: 'MyRose';
        font-weight: 700;
        font-size: map.get(var.$normSizes, l);
        color:  map.get(var.$colors, back-cv);
    }

    &:hover{
        cursor: pointer;
        background-color: rgba(102, 207, 188, 0.3);
        border-width: 3px;
        width: 154px;
    }
}

.closeDialogBtn-food_theme{
    background-color: map.get(var.$colors, back-ft);
    padding: map.get(var.$sizes, s) map.get(var.$sizes, m);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid map.get(var.$colors, border-ft);
    border-radius: map.get(var.$normSizes, s);

    &__text{
        font-family: 'MyUnicase';
        font-size: map.get(var.$sizes, m);
        font-weight: 700;
        color: white;
    }

    &:hover{
        cursor: pointer;
        background-color: map.get(var.$colors, border-ft);
    }
}

.exitGameBtn-food_theme{
    padding: map.get(var.$sizes, s) map.get(var.$sizes, m);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid map.get(var.$colors, border-ft);
    border-radius: map.get(var.$normSizes, s);

    &__text{
        font-family: 'MyUnicase';
        font-size: map.get(var.$sizes, m);
        font-weight: 700;
        color: map.get(var.$colors, border-ft);
    }

    &:hover{
        cursor: pointer;
        background-color: map.get(var.$colors, border-ft);
    }
}
