@font-face {
    font-family: 'MyAlmarai';
    src: url('/assets/fonts/Almarai/Almarai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyRose';
    src: url('/assets/fonts/Red_Rose/RedRose-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'MyDevanagari';
    src: url('/assets/fonts/Noto_Sans_Devanagari/NotoSansDevanagari-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'MyUnicase';
    src: url('/assets/fonts/Delius_Unicase/DeliusUnicase-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'MyOne';
    src: url('/assets/fonts/Klee_One/KleeOne-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}