@font-face {
    font-family: 'MyAlmarai';
    src: url('/assets/fonts/Almarai/Almarai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyRose';
    src: url('/assets/fonts/Red_Rose/RedRose-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}