@use '../abstract/variables' as var;
@use '../abstract/mixin' as mx;
@use 'sass:map';


.body-bg-code-theme{
    background-color: map.get(var.$colors, intro-bg);
}

.body-bg-food-theme{
    background-color: white;
}

.playerContainer-code_vibes{
    @include mx.flex-center(row);
    gap: map.get(var.$sizes, m);
    background-color: rgba($color: map.get(var.$colors, code-bg), $alpha: 0.2);
    font-family: 'MyDevanagari';
    font-weight: 700;
    font-size: map.get(var.$sizes, l);

    &__box{
        @include mx.flex-center(row);
        gap: map.get(var.$sizes, s);
    }

    &__valueBlue{
        padding-top: map.get(var.$sizes, s);
        color: map.get(var.$colors, blue-player);
    }

    &__valueOrange{
        padding-top: map.get(var.$sizes, s);
        color: map.get(var.$colors, orange-player);
    }
}

.playerContainer-food_theme{
    @include mx.flex-center(row);
    gap: map.get(var.$sizes, xl);
    background-color: white;
    border-radius: map.get(var.$normSizes, s);
    font-family: 'MyUnicase';
    font-weight: 700;
    font-size: map.get(var.$normSizes, xl);

    &__box{
        @include mx.flex-center(row);
        gap: map.get(var.$sizes, s);
    }

    &__valueBlue{
        color: map.get(var.$colors, blue-player);
    }

    &__valueOrange{
        color: map.get(var.$colors, orange-player);
    }
}

.currentPlayer-code_vibes{
    @include mx.flex-end(row);
    gap: map.get(var.$sizes, s);

    &__text{
        font-family: 'MyRose';
        font-size: map.get(var.$sizes, lPlus);
        color: white;
    }

    &__indication{
        padding-bottom: 0px;
    }
}

.currentPlayer-food_theme{
    @include mx.flex-center(row);
    gap: map.get(var.$sizes, s);

    &__text{
        font-family: 'MyOne';
        font-size: map.get(var.$sizes, xl);
        color: map.get(var.$colors, currentPlayer-food);
        font-weight: 600;
    }

    &__indicationContainer{
        padding-top: 4px;
        padding-right: 4px;
        padding-left: 4px;
        padding-bottom: 2px;
        border-radius: 10px;
    }
}

.exitContainer-code_vibes{
    @include mx.flex-center(row);
    gap:map.get(var.$sizes, m);
    padding: map.get(var.$sizes, s);
    background-color: rgba($color: map.get(var.$colors, code-bg), $alpha: 0.2);
    border: 1px solid map.get(var.$colors, code-bg);
    cursor: pointer;

    &:hover{
        border: 2px solid map.get(var.$colors, code-bg);
        box-shadow: 0 6px 12px rgba($color: map.get(var.$colors, code-bg), $alpha: 0.2);
    }

    &__text{
        font-family: 'MyRose';
        font-size: map.get(var.$sizes, l);
        font-weight: 700;
        color: white;
    }
}

.exitContainer-food_theme{
    @include mx.flex-center(row);
    gap:map.get(var.$sizes, m);
    padding: map.get(var.$sizes, s);
    background-color: map.get(var.$colors, exit-food);
    border: 1px solid map.get(var.$colors, orange-player);
    border-radius: map.get(var.$normSizes, s);
    cursor: pointer;

    &:hover{
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        background-color: map.get(var.$colors, orange-player);
    }

    &__text{
        font-family: 'MyUnicase';
        font-size: map.get(var.$sizes, m);
        font-weight: 700;
        color: map.get(var.$colors, orange-player);
    }
}

.gameOver{
    @include mx.flex-center();
    gap: map.get(var.$normSizes, ultra);

    &__text-code_vibes{
        font-family: 'MyRose';
        font-size: 130px;
        font-weight: bold;
        color: #86E9D6;
        text-shadow:
            1px -1px 0 #85e0ce,
            2px -2px 0 #71d0bd,
            3px -3px 0 #499a8a,
            4px -4px 5px rgba(0,0,0,0.5);
    }

    &__text-food_theme{
        font-family: 'MyOne';
        font-weight: 600;
        font-size: 130px;
        color: white;
    }
}

.scoreText-food_theme{
    font-family: 'MyOne';
    font-size: 42px;
    font-weight: 600;
    color: white;
}

.scoreText-code_vibes{
    font-family: 'MyRose';
    font-weight: 400;
    font-size: 26px;
    color: white;
}

.winnerContainer-code_vibes{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: map.get(var.$sizes, m);

    &__winnerCaption{
        font-family: 'MyRose';
        font-size: map.get(var.$normSizes, xxl);
        color: white;
    }

    &__winnerIndication{
        font-family: 'MyRose';
        font-weight: 700;
        font-size: map.get(var.$normSizes, xxlPlus);
    }

    &__playerIcon{
        padding: map.get(var.$sizes, xl);
    }
}

.winnerContainer-food_theme{
    height: 100%;
    @include mx.flex-center();
    gap: map.get(var.$sizes, m);

    &__image{
        display: none;
    }

    &__winnerCaption{
        font-family: 'MyOne';
        font-size: map.get(var.$normSizes, xxl);
        color: map.get(var.$colors, currentPlayer-food);
    }

    &__winnerIndication{
        font-family: 'MyOne';
        font-weight: 600;
        font-size: 80px;
        color: map.get(var.$colors, currentPlayer-food);
    }

    &__playerIconBox{
        margin: map.get(var.$sizes, xxl);
        background-color: map.get(var.$colors, bg-header-food);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    }

    &__playerIcon{
        padding: map.get(var.$sizes, xxl);
    }
}

.exitContainerGameOver-food_theme{
    @include mx.flex-center(row);
    gap:map.get(var.$sizes, m);
    padding: map.get(var.$sizes, s);
    background-color: map.get(var.$colors, orange-player);
    border: 1px solid map.get(var.$colors, orange-player);
    border-radius: map.get(var.$normSizes, s);
    cursor: pointer;

    &:hover{
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        background-color: map.get(var.$colors, exit-food);
    }

    &__text{
        font-family: 'MyUnicase';
        font-size: map.get(var.$sizes, m);
        font-weight: 700;
        color: white;
    }
}

.exitContainerGameOver-code_vibes{
    @include mx.flex-center(row);
    gap:map.get(var.$sizes, m);
    padding: map.get(var.$sizes, s);
    background-color: rgba($color: map.get(var.$colors, code-bg), $alpha: 0.2);
    border: 1px solid map.get(var.$colors, code-bg);
    cursor: pointer;

    &:hover{
        border: 2px solid map.get(var.$colors, code-bg);
        box-shadow: 0 6px 12px rgba($color: map.get(var.$colors, code-bg), $alpha: 0.2);
    }

    &__text{
        font-family: 'MyRose';
        font-size: map.get(var.$sizes, l);
        font-weight: 700;
        color: white;
    }
}

.dialogContainer-code_vibes{
    @include mx.flex-center();
    gap: map.get(var.$sizes, ultra);

    &__text{
        font-family: 'MyRose';
        font-weight: 700;
        color: map.get(var.$colors, intro-bg);
        font-size: map.get(var.$sizes, xl);
        display: block;
        text-align: center;
    }
}

.dialogContainer-food_theme{
    @include mx.flex-center();
    gap: map.get(var.$sizes, ultra);

    &__text{
        font-family: 'MyOne';
        font-weight: 600;
        color: map.get(var.$colors, currentPlayer-food);
        font-size: 28px;
        display: block;
        text-align: center;
    }
}